<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>

  

    <main class="bg-zinc-900 min-h-screen min-w-full text-zinc-300 relative ">
        <nav class="text-white flex justify-between items-center text-2xl px-4 py-5">
            <div class="flex gap-2">
             <a href="/profile/<%= user.username %>"><i class="ri-arrow-left-line"></i></a>
             <h4 class=""><%= user.username %></h4>
            </div>
         </nav>
        <section class="search-section relative  bg-zinc-900 h-screen w-full px-6 py-6" id="search-section">
            <i class="ri-search-line absolute top-7 left-9 text-xl text-zinc-400"></i>
            <input class="input text-white bg-zinc-800 w-full rounded-md px-12 py-2 outline-none" type="text" placeholder="Search">
            <div class="users h-24">
                <% user.followers.forEach(function(follower){ %>
                    <a href="/profile/<%= follower.username %>" class="outline-none ">
                        <div class="text-white flex items-center relative gap-2 mt-5">
                            <div class="image w-[11vw] h-[11vw]  rounded-full bg-sky-100 overflow-hidden">
                                <img class="h-full w-full object-cover" src="/images/uploads/<%= follower.picture %>" alt="">
                            </div>
                            <div class="text">
                                    <h3 class="temp"><%= follower.username %></h3>
                                <h4 class="text-xs opacity-30 leading-none"><%= follower.name %></h4>
                            </div>
                        </div>            
                    </a>
               <% }) %>
            </div>
        </section>
        <!-- <section class="followers">
            <div class="h-16 w-full bg-blue-700"></div>
        </section> -->

        <footer id="footer" class="fixed left-0 bg-zinc-900 bottom-0 h-16 w-full text-4xl flex justify-between px-4  items-center">
            <a href="/feed"><i class="ri-home-5-line "></i></a>
            <a href="/search"><i class="ri-search-line"></i></a>
            <a href="/create"><i class="ri-add-box-line"></i></a>
            <a href="/profile/<%= puser.username %>"><div class="profile-img h-10 w-10 bg-blue-700 rounded-full overflow-hidden" >
                <img class="w-full h-full object-cover" src="/images/uploads/<%= puser.picture %>" alt="">
            </div></a>
        </footer>
    </main>
    
<script src="/javascript/followers.js"></script>
</body>
</html>
